pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
.idea
yarn.lock

# MkDocs build files
site/

# Vuepress
src/.vuepress/dist*
.cache
.temp
